* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

/* Estilo global */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0C1D36;
    color: #F9F9F9;
}

ul {
    list-style: none;
    padding: 0;
}

h1, h2, h3, b {
    font-family: Poppins;
    margin-bottom: 10px;
    color:#F9CC0B;
}

/* Nav */
.bar {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    background-color: #1a2d49;
    width: 50%;
    border-radius: 10px;
    align-items: center;

    margin-top: 10px;
}

.logo img {
    width: 85px;
    height: auto;
    margin-top: 5px;
    margin-left: 30px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    padding: 10px;
    margin-right: 30px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.menu a:hover{
    color: #F9CC0B;
}

/*banner*/
.Banner {
    background-color: #1a2d49;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

main {
    background-color: rgb(62, 93, 128);
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    padding: 10px;
    width: 80%;
    
}



/* main */
/*main{
    background-color: rgb(61, 90, 124);
    display: flex;
    flex-direction: column;
}*/


/* reviews */ 















.Projects{
    width: 200px;    
}

.WorkExperience{
    width: 200px;
    
}

.OpenSourceWork{
    width: 200px;    
}

.Education{
    width: 300px;    
}

.Reviews{
    margin-top: 20px;
    
}



/* review */
.Reviews{
    display: flex;
    flex-direction: row;
}

.review1{
    border: 2px solid #000;
    border-radius: 10px;
    width: 200px;    
}

.review2{
    border: 5px solid #000;
    width: 200px;
    
}

.review3{
    border: 5px solid #000;
    width: 200px;    
}
